:root {
    --main-bg-color: #23272a;
    --main-text-color: #dfe0e1;
    --main-accent-color: #ff5b00;
    --main-font: 'Helvetica Neue', sans-serif;
    --main-font-size: 1.5rem;
}

body {
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
}

section, details {
    margin: 1em;
    /* outline: 2px solid var(--main-accent-color); */
}

input {
    margin: 0.4rem;
    text-align: left;
    font-size: .8em;
}

.waveform {
    display: block;
    width: auto;
}

fieldset {
    all: unset;
    padding: 1rem;
    /* justify-content: space-around; */
    background-color: pink;
}


.icon {
    width: 1.5em;
    height: 1.5em;
    fill: pink;
}

#wave .selected {
    background-color: var(--main-accent-color);
}

table {
    margin: 1em auto;
    border-collapse: collapse;
    width: 100%;
}