:root {
    --main-bg-color: #23272a;
    --main-text-color: #dfe0e1;
    --main-accent-color: #ff5b00;
    --main-accent-secondary-color: #b39280;
    --main-font: 'Cairo', sans-serif;
    --main-font-size: 1.25rem;
    --main-font-weight: 400;
}

body {
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .25rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h5 {
    padding: .5rem;
}



section, details {
    margin: .5rem;
    padding: .35rem;
    min-width: 20rem;
    border-radius: 20px;
    outline: 1px solid var(--main-accent-color);
    /* gap: 1.5rem; */
}

button {
    all: unset;
    margin: 0 .5rem;
    border-radius: 20%;
    background-color: grey;
    padding: .35rem .5rem 0;
}

.octave {
    padding: .5rem;
}

.waveform {
    display: grid;
}

fieldset {
    all: unset;
    padding: .5rem;
    /* justify-content: space-around; */
    /* background-color: pink; */
}

.icon {
    all: unset;
    width: 1.25rem;
    height: 1.25rem;
}

#wave .selected {
    background-color: var(--main-accent-color);
}

/* TODO why doesn't this work? */
#input .selected {
    background-color: var(--main-accent-color);
}

.envelope {
    display: flex;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: center;
    align-self: center;
}

input {
    appearance: unset;
    width: 8rem;
    height: 1rem;
    background: var(--main-accent-secondary-color);
    /* outline: 1px solid var(--main-accent-color); */
    margin: .5em;
    /* border-radius: 50%; */
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: var(--main-accent-color);
}

summary {
    text-align: left;
}

p, td {
    text-align: left;
    font-size: .7em;
}

td {
    padding: .5rem;
    border: 1px solid var(--main-accent-secondary-color);
}

ul {
    list-style-type: none;
    text-align: left;
}

table {
    margin: 1em auto;
    border-collapse: collapse;
    width: 100%;
}

.setting {
    margin: 10px 0;
}

.setting input[type="checkbox"] {
    margin-right: 5px;
}